@model List<ResultAboutDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}




<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Başlık 2</th>
        <th>Güncelle</th>
    
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <th>@x.AboutId</th>
            <td>@x.Title1</td>
            <td>@x.Title2</td>
           
            <td><a href="/AdminAbout/UpdateAbout/@x.AboutId" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
           
        </tr>

    }
</table>


