<div class="list-group mail-list">
    <a href="/AdminContact/ComplaintBox/" class="list-group-item border-0"><span class="fa fa-briefcase f-s-14 mr-2"></span>Şikayet</a>
    <a href="/AdminContact/ThankuBox/" class="list-group-item border-0"><span class="fa fa-sellsy f-s-14 mr-2"></span>Teşekkür</a>
    <a href="/AdminContact/SupportBox" class="list-group-item border-0"><span class="fa fa-ticket f-s-14 mr-2"></span>Destek</a>
    <a href="/AdminContact/JopApplicationBox/" class="list-group-item border-0"><span class="fa fa-tags f-s-14 mr-2"></span>İş Başvurusu</a>
    <a href="/AdminContact/OtherMessageBox/" class="list-group-item border-0"><span class="fa fa-arrows f-s-14 mr-2"></span>Diğer</a>
</div>