<section class="about-us-section py-5">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <!-- Left Column: Text Content -->
            <div class="col-md-8 col-lg-5 mb-4 mb-lg-0">
                <h2 class="mb-4 text-center">Hakkımızda</h2>
                <p class="mb-3 text-justify">
                    Bu sayfa Tamamen api ile proje nasıl yazılır ? Mvc yi daha iyi kavramak. Jwt, Rapid Api vb konuların
                    daha iyi anlaşılması ve kodlamada kendimi daha ileriye taşımak için yaptığım bir çalışmadır. Ortam ve koşullar
                    ne olursa olsun elimden gelenin en iyisini yapmak için cabalıyorum. " Hayat bir çift bacak ve gidebileceğin yol kadar".

                </p> <br />
                <p class="mb-3 text-justify">
                    Misyonumuz, Öğrencilik ve sonrasındaki iş hayatında bana değer katacak olanaklar sağlamaktır.
                    Siz değerli ilgili sayfanın ilgili kısmını okuyanlar için yüzünüzdeki tebessüm hiç eksilmesin.
                </p>
                <p class="text-center">
                    Daha fazla bilgi almak için <a href="https://www.instagram.com/bhmberkan/" class="text-primary" target="_blank">bizimle iletişime geçin.</a>
                </p>
            </div>

            <!-- Right Column: Image -->
            <div class="col-md-8 col-lg-5 text-center">
                <img src="~/hotel-html-template/img/Photobhm.jpg" alt="Hakkımızda Görseli" class="img-fluid rounded shadow">

            </div>
        </div>
    </div>
</section>