@model List<ResultGuestDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}





<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var x in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@x.Name</td>
            <td>@x.SurName</td>
            <td>@x.City</td>
            <td><a href="/Guest/DeleteGuest/@x.GuestID" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/Guest/UpdateGuest/@x.GuestID" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>

        </tr>

    }
</table>

<a href="/Guest/AddGuest" class="btn mb-1 btn-outline-info">Yeni Misafir Girişi</a>
